@model IEnumerable<CBSBahrainMVC.Models.Settings>

@{
    ViewData["Title"] = "Index";
}
 
 
<div class="content-page">
    <!-- Start content -->
    <div class="content">

        <div class="">
            <div class="page-header-title">
                <h4 class="page-title">Settings</h4>
            </div>
        </div>

        <div class="page-content-wrapper ">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">


                                <div class="row">


                                    <div class="col-md-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-body">

                                                <div class="row">
                                                    <div class="col-xs-12">
                                                    


                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Page Title</th>
                                                                    <th>Details</th>
                                                                    <th>Modify</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model)
                                                                {
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Title)
                                                                    </td>
                                                                    <td>
                                                                        @Html.Raw(item.Details)
                                                                    </td>
                                                                    <td>
                                                                        <a asp-action="Edit" asp-route-id="@item.SettingsId">Edit</a>

                                                                    </td>
                                                                </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                </div> <!-- end row -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->




            </div><!-- container -->

        </div> <!-- Page content Wrapper -->

    </div> <!-- content -->



</div>