@{
    ViewData["Title"] = "Home Page";
}

    <div class="content-page">
        <!-- Start content -->
        <div class="content">

            <div class="">
                <div class="page-header-title">
                    <h4 class="page-title">Welcome</h4>
                </div>
            </div>

            <div class="page-content-wrapper ">

                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-primary">
                                <div class="panel-body">


                                    <div class="row">


                                        <div class="col-md-12">
                                            <div class="panel panel-primary">
                                                <div class="panel-body">
                                                  
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            
                                                            <p>Hello, welcome to CBS Bahrain App Control Panel</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>




                                    </div> <!-- end row -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->




                </div><!-- container -->

            </div> <!-- Page content Wrapper -->

        </div> <!-- content -->



    </div>