@model IEnumerable<CBSBahrainMVC.Models.Category>

@{
    ViewData["Title"] = "Index";
}

  

<div class="content-page">
    <!-- Start content -->
    <div class="content">

        <div class="">
            <div class="page-header-title">

                <a href="@Url.Content("~/Categories/Create")" class="pull-right btn btn-info">Create New</a>
                <h4 class="page-title">Categories</h4>
            </div>
        </div>

        <div class="page-content-wrapper ">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                               

                                <div class="row">


                                    <div class="col-md-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-body">
                                               
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Category</th>
                                                                    <th>Modify</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Category1)
                                                                        </td>
                                                                        <td>
                                                                            <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                                                                            <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



 
                                </div> <!-- end row -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

           


            </div><!-- container -->

        </div> <!-- Page content Wrapper -->

    </div> <!-- content -->



</div>
